MagicSquare.BL/obj/
MagicSquares.BL.Tests/obj/
MagicSquares.Tests/bin/
MagicSquares.Tests/obj/
MagicSquares/bin/
MagicSquares/obj/
packages/
MagicSquares.BL/obj/
MagicSquares.BL.Abstract/bin/
MagicSquares.BL.Abstract/obj/
MagicSquares.BL.Tests/bin/
MagicSquares.BL/bin/
